.App {
  background-color: #fbf4d8;
}

.App-header {
  min-height: 100vh; 
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-2 {
  flex-direction: row;
}

.App-3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: calc(10px + 1vmin);
  color: rgb(0, 0, 0);
}